html,
body {
    height: 100%;
    margin: 10px;
    padding: 0;
}

.login-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9;
    
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    border: 1px solid #69665c;
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
    min-height: 400px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
}

.login-header {
    text-align: center;
    margin-bottom: 20px;
}

.login-logo-text {
    position: relative;
    display: inline-block;
}

.login-logo-text h1 {
    font-size: 5rem;
    font-weight: bold;
    color: #69665c;
    position: relative;
}

.login-logo-text::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40%;
    height: 6px;
    background-color: #69665c;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 1s ease;
    transition-delay: 0.5s;
}

.login-logo-text.animated::after {
    transform: scaleX(1);
}

.login-subtitle {
    font-size: 1rem;
    color: #7a7a7a;
    margin-top: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.login-form input {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

.login-form input:focus {
    border-color: #3e3c36;
    outline: none;
}

.login-error-message {
    color: red;
    margin-bottom: 15px;
}

.login-button {
    width: 60%;
    padding: 10px;
    background-color: #69665c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 20px auto 0 auto;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #3e3c36;
}

.login-footer {
    margin-top: 20px;
    text-align: center;
    font-size: 0.9rem;
    color: #7a7a7a;
}



@media (max-width: 768px) {
    body {
        height: 100%;
        padding: 0;
        overflow: hidden;
    }
    .login-container {
        padding: 20px;
        max-width: 90%; 
      
    }

    .login-logo-text h1 {
        font-size: 3.5rem; 
    }

    .login-subtitle {
        font-size: 0.9rem;
    }

    .login-form input {
        padding: 12px;
        font-size: 0.9rem;
    }

    .login-button {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .login-container {
        padding: 15px;
        max-width: 100%; 
    }

    .login-logo-text h1 {
        font-size: 3rem; 
    }

    .login-subtitle {
        font-size: 0.85rem;
    }

    .login-form input {
        padding: 10px;
        font-size: 0.85rem;
    }

    .login-button {
        font-size: 0.9rem;
        padding: 10px;
    }
}
