.todo-container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px 40px 40px 20px;
  width: 100%;
  max-width: 1200px;
  margin: 80px auto;
  border-radius: 15px;
  background-color: #f9f9f9;
  border: none;
}

.content-section {
  width: 100%;
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
}


.filter-area {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  margin-right: 40px;
  margin-bottom: 20px;
  gap: 15px;
}


.priority-filter-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.1rem;
}

.priority-filter {
  padding: 8px 12px;
  border-radius: 20px;
  background-color: #f9f9f9;
  color: #666;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  padding-left: 40px;
}

.priority-filter::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  position: absolute;
  left: 10px;
}

.priority-filter[data-priority="All"] {
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: bold;
  color: #69665c;
}

.priority-filter[data-priority="All"]::before {
  display: none;
}

.priority-filter[data-priority="Immediate"]::before {
  background-color: #ffcece;
}

.priority-filter[data-priority="High"]::before {
  background-color: #d2ceff;
}

.priority-filter[data-priority="Normal"]::before {
  background-color: #d1e5f7;
}

.priority-filter[data-priority="Low"]::before {
  background-color: #daf2d6;
}

.priority-filter.selected {
  background-color: #e0e0e0;
}

.add-task-button-area {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.add-task-button {
  background-color: #69665c;
  color: white;
  font-size: 1.1rem;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s ease;
  margin-right: 20px;
}

.hide-done-tasks {
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hide-done-tasks input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #69665c;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  outline: none;
  position: relative;
}

.hide-done-tasks input[type="checkbox"]::after {
  content: "✔";
  color: #69665c;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.hide-done-tasks input[type="checkbox"]:checked::after {
  display: flex;
}

.hide-done-tasks label {
  margin-left: 10px;
  color: #69665c;
  font-size: 16px;
}


@media (max-width: 768px) {
  .todo-container {
    padding: 0 0 20px 0;
  }

  .filter-area {
    gap: 0;
    padding: 0;
  }

  .content-section {
    flex-direction: column;
    margin-top: 60px;
  }

  .priority-filter-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1rem;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
  }

  .priority-filter-list::-webkit-scrollbar {
    height: 8px;
  }

  .priority-filter-list::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
  }


  .add-task-button-area {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
  }

  .add-task-button {
    margin-right: -20px;
    margin-top: -5px
  }

  .hide-done-tasks {
    margin: 0;
    margin-left: 8px;
    justify-content: flex-start;
  }

}
