.todo-item {
  background-color: #fdf5d9;
  border-radius: 15px;
  padding: 15px;
  width: 100%;
  max-width: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}


.todo-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.todo-item-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.todo-item-menu-button {
  background: none;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.menu-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  display: flex;
  flex-direction: column;
  transition: opacity 0.2s ease;
}

.menu-dropdown button {
  background: none;
  border: none;
  padding: 10px;
  width: 100px;
  text-align: left;
  cursor: pointer;
}

.menu-dropdown button:hover {
  background-color: #f0f0f0;
}


.todo-item-description {
  font-size: 14px;
  color: #666;
  margin: 0;
  padding: 0;
}

.todo-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.todo-item-priority-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}


.todo-checkbox {
  display: flex;
  align-items: center;
}

.todo-checkbox label {
  font-weight: bold;
  margin-right: 7px;
  line-height: 1;
}

.todo-checkbox input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #666;
  border-radius: 4px;
  position: relative;
  margin-top: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-checkbox input[type="checkbox"]:checked {
  border-color: #666;
}

.todo-checkbox input[type="checkbox"]:checked::before {
  content: '✔';
  color: #69665c;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.item-complete .todo-item-title,
.item-complete .todo-item-description {
  text-decoration: line-through;
  color: #888;
}

@media (min-width: 1024px) {
  .todo-item {
    width: 100%;
  }
}